Source: channel-editor
Section: x11
Priority: extra
Maintainer: Mamut R. Ghiunhan <venerix@blug.ro>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.3
Homepage: https://code.google.com/p/tv-maxe/downloads/detail?name=channel-editor.tar.gz&can=2&q=

Package: channel-editor
Architecture: any
Depends: python, python-gtk2, python-glade2, python-pycurl, tv-maxe
Description: Edit TV-MAXE channels list.
