#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

build: build-stamp
	/usr/bin/msgfmt $(CURDIR)/tv-maxe/po/da.po --output-file $(CURDIR)/tv-maxe/lng/da/LC_MESSAGES/tvmaxe.mo
	/usr/bin/msgfmt $(CURDIR)/tv-maxe/po/es.po --output-file $(CURDIR)/tv-maxe/lng/es/LC_MESSAGES/tvmaxe.mo
	/usr/bin/msgfmt $(CURDIR)/tv-maxe/po/hr.po --output-file $(CURDIR)/tv-maxe/lng/hr/LC_MESSAGES/tvmaxe.mo
	/usr/bin/msgfmt $(CURDIR)/tv-maxe/po/ro.po --output-file $(CURDIR)/tv-maxe/lng/ro/LC_MESSAGES/tvmaxe.mo
	/usr/bin/msgfmt $(CURDIR)/tv-maxe/po/ru.po --output-file $(CURDIR)/tv-maxe/lng/ru/LC_MESSAGES/tvmaxe.mo


build-stamp: 
	dh_testdir

clean:
	dh_testdir
	dh_testroot
	rm -rf build-stamp
	dh_clean
install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	# Add here commands to install the package into debian/tv-maxe
	install -p -dm 0755 $(CURDIR)/debian/tv-maxe/usr/bin
	install -p -m 0755 $(CURDIR)/tvmaxe $(CURDIR)/debian/tv-maxe/usr/bin
	install -p -dm 0755 $(CURDIR)/debian/tv-maxe/usr/share/applications
	install -p -m 0644 $(CURDIR)/tv-maxe.desktop $(CURDIR)/debian/tv-maxe/usr/share/applications
	cp -r $(CURDIR)/tv-maxe $(CURDIR)/debian/tv-maxe/usr/share	

		
binary-indep: install

binary-arch: install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
